@use "sass:map";
.sign-up,
.complete-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  width: 100%; }
  .sign-up .card,
  .complete-profile .card {
    max-width: 28rem;
    min-width: 28rem;
    margin-bottom: 1rem; }

.field {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.175rem;
  padding: 0.25rem 0.5rem; }
  .field .error {
    color: #cd212e;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 0.75rem; }

.label {
  font-family: "Ubuntu";
  font-weight: 700;
  margin-left: 0.75rem; }

.input {
  margin-top: 0.5rem; }

.button {
  text-transform: uppercase;
  font-family: "Ubuntu";
  width: calc(100% - 1rem);
  margin: 1rem 0.5rem; }
  .button:hover {
    background-color: #427aa1; }

.create-account__already-have-account {
  text-align: center; }

.already-have-account {
  margin-top: 1rem;
  text-align: center; }
