@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
.delete-post-button {
  background-color: transparent;
  color: #cd212e;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .delete-post-button--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem; }
  .delete-post-button:hover {
    background-color: transparent;
    text-decoration: underline; }

.delete-post-dialog__title__link-title {
  color: #144566;
  font-family: "Ubuntu";
  font-weight: 700; }

.delete-post-dialog__continue-button {
  background-color: white;
  color: #cd212e;
  border: 1px solid #cd212e; }
  .delete-post-dialog__continue-button:hover {
    background-color: #cd212e;
    color: white; }
