@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
@use "color";
.editor {
  margin: 1rem; }
  .editor__header__margin {
    margin-bottom: 1rem; }
  .editor__content {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .editor__content__editor > .ql-container {
      min-height: 8rem; }
  .editor__footer {
    display: flex;
    justify-content: flex-end; }
    .editor__footer__button-preview {
      text-transform: uppercase;
      font-family: "Ubuntu";
      text-transform: uppercase;
      font-weight: 700;
      background-color: #144566;
      cursor: pointer;
      background-color: #bf8a58; }
      .editor__footer__button-preview:hover {
        background-color: #ca0000; }
      .editor__footer__button-preview:hover {
        background-color: #dbbea2; }
    .editor__footer__button-submit {
      margin-left: 1rem;
      text-transform: uppercase;
      font-family: "Ubuntu";
      text-transform: uppercase;
      font-weight: 700;
      background-color: #144566;
      cursor: pointer; }
      .editor__footer__button-submit:hover {
        background-color: #ca0000; }
  .editor__preview {
    padding: 1rem 2rem;
    background-color: rgba(191, 138, 88, 0.3); }
