@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
.post-votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .post-votes.small {
    flex-direction: row; }
  .post-votes__up {
    cursor: pointer;
    color: #009e60; }
    .post-votes__up.small {
      height: 1rem;
      width: 1rem; }
      .post-votes__up.small svg {
        height: 1rem;
        width: 1rem; }
    .post-votes__up.selected svg {
      fill: #009e60; }
  .post-votes__count {
    text-align: center;
    font-family: "Ubuntu";
    font-weight: 700;
    height: 1rem;
    line-height: 1rem; }
    .post-votes__count.deficit {
      color: #b90e0a; }
    .post-votes__count.small {
      min-width: 1.5rem;
      height: 0.5rem;
      line-height: 0.5rem; }
  .post-votes__down {
    cursor: pointer;
    color: #b90e0a; }
    .post-votes__down.small {
      height: 1rem;
      width: 1rem; }
      .post-votes__down.small svg {
        height: 1rem;
        width: 1rem; }
    .post-votes__down.selected svg {
      fill: #b90e0a; }
