@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
@use "sass:map";
/* 

hover color for elements will usually be lighten($base-elements, 20%);
*/
.show-comment.child {
  padding-left: 1rem;
  border-left: 3px solid rgba(57, 39, 25, 0.5); }

.show-comment__header {
  font-family: "Ubuntu";
  font-size: 0.75rem;
  margin-bottom: 0.25rem; }

.show-comment__display {
  font-family: "Noto Sans";
  font-size: 0.825rem;
  line-height: 1rem;
  margin: 0; }
  .show-comment__display p {
    margin-bottom: 1rem; }

.show-comment__footer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row; }
  .show-comment__footer__reply {
    width: 100%;
    position: relative; }
    .show-comment__footer__reply .create-comment {
      width: 100%;
      margin-bottom: 3rem; }
    .show-comment__footer__reply--submit {
      position: absolute;
      right: 0;
      bottom: -2.5rem; }
      .show-comment__footer__reply--submit svg {
        margin-right: 0.5rem; }
      .show-comment__footer__reply--submit:disabled {
        background-color: #717171;
        color: #392719;
        border-color: #392719; }
  .show-comment__footer__reply-button {
    text-transform: uppercase;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    background-color: #144566;
    cursor: pointer;
    margin-left: 1rem; }
    .show-comment__footer__reply-button:hover {
      background-color: #ca0000; }
    .show-comment__footer__reply-button--text {
      margin-left: 0.5rem; }
    .show-comment__footer__reply-button .icon {
      margin-right: 0.5rem; }
  .show-comment__footer .comment-tools {
    display: flex;
    flex-direction: row; }
    .show-comment__footer .comment-tools__reply-button {
      background-color: transparent;
      color: #144566;
      box-shadow: none;
      height: auto;
      padding: 0 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center; }
      .show-comment__footer .comment-tools__reply-button--icon {
        height: 1rem;
        width: 1rem;
        margin-right: 0.25rem; }
      .show-comment__footer .comment-tools__reply-button:hover {
        background-color: transparent;
        text-decoration: underline; }

.delete-comment-button {
  background-color: transparent;
  color: #cd212e;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .delete-comment-button--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem; }
  .delete-comment-button:hover {
    background-color: transparent;
    text-decoration: underline; }

.delete-comment-dialog__title__link-title {
  color: #144566;
  font-family: "Ubuntu";
  font-weight: 700; }

.delete-comment-dialog__continue-button {
  background-color: white;
  color: #cd212e;
  border: 1px solid #cd212e; }
  .delete-comment-dialog__continue-button:hover {
    background-color: #cd212e;
    color: white; }

.edit-comment-button {
  background-color: transparent;
  color: #144566;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center; }
  .edit-comment-button--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem; }
  .edit-comment-button:hover {
    background-color: transparent;
    text-decoration: underline; }
