@import "../palette";

@mixin button() {
  text-transform: uppercase;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-weight: 700;
  background-color: $base-elements;
  cursor: pointer;
  &:hover {
    background-color: $base-highlight;
  }
}

@mixin button-primary() {
  @include button();
}

@mixin button-secondary() {
  @include button();
  &:hover {
    background-color: $base-elements;
  }
}

@mixin button-warning() {
  @include button();
  &:hover {
    background-color: $warning;
  }
}
