@import "../palette";
@import "../mixins/map-deep-get";

@mixin loading-spinner($size: 1rem, $border-size: 0.25rem) {
  border: $border-size solid map-deep-get($palettes, "grey", "french-grey");
  border-radius: 50%;
  border-top: $border-size solid map-deep-get($palettes, "blue", "ucla");
  width: $size;
  height: $size;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
