@import "palette";
@import "mixins/map-deep-get";
@import "component/drag-drop-file";

.create-post {
  &__container {
    margin-top: 1rem;
  }
  & .header__condensed-padding {
    &.bottom {
      padding-bottom: 0.25rem;
    }
    &.top {
      padding-top: 0.5rem;
    }
  }
  & .content__condensed-padding {
    padding-bottom: 0.25rem;
  }
  &__content {
    &__embed-image {
      &__display {
        &--image {
          border-radius: 0.5rem;
          border: 1px solid map-deep-get($palettes, "grey", "french-grey");
          margin: 1rem 0;
        }
      }
      &__loading {
        display: flex;
        &.icon {
          margin-right: 1rem;
          animation: spin 4s linear infinite;
          color: map-deep-get($palettes, "blue", "ucla");
        }
      }
    }
  }
  & .editor__content {
    position: relative;
    &__editor__markdown-supported {
      position: absolute;
      right: 1.5rem;
      top: -1rem;
      font-family: "Ubuntu";
      font-size: 0.75rem;
    }
    &__images {
      &__footer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.editor {
  &__header {
    &__image-header {
      padding: 0 1.5rem;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    &__show-preview {
      display: flex;
      align-items: center;
      &--switch {
        margin-right: 0.5rem;
        &[data-state="checked"] {
          background-color: map-deep-get($palettes, "red", "golden-gate");
        }
        &[data-state="unchecked"] {
          background-color: map-deep-get($palettes, "blue", "ucla");
        }
      }
    }
    &__button {
      margin-left: 0.5rem;
      background-color: map-deep-get($palettes, "blue", "ucla");
      &:hover {
        background-color: map-deep-get($palettes, "red", "golden-gate");
      }
      &.preview {
        &--active {
          font-style: italic;
        }
      }
      &.submit {
      }
      & .icon {
        margin-right: 0.5rem;
      }
    }
  }
  &__content {
    &__images {
      &__footer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;
        &__editor {
          display: flex;
          justify-content: flex-end;
          margin: 0 1.5rem 0.5rem 1.5rem;
        }
      }
      &__add-image {
        background-color: map-deep-get($palettes, "blue", "ucla");
        & .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.post-preview {
  background-color: map-deep-get($palettes, "grey", "french-grey");
  padding-top: 1rem;
  &__title {
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__link {
    text-decoration: none;
    color: map-deep-get($palettes, "blue", "ucla");

    &:hover {
      text-decoration: underline;
      color: map-deep-get($palettes, "blue", "ucla");
    }
  }
  &__body {
    margin-bottom: 0.5rem;
    font-family: "Noto Sans";
  }
}

.post-image-field {
  padding: 0.5rem 1.5rem;
  &__preview {
    margin: 1rem 0;
  }
  &__input-field {
    width: 100%;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
    &--button {
      background-color: map-deep-get($palettes, "blue", "ucla");
      margin-left: 0.5rem;
      &:hover {
        background-color: map-deep-get($palettes, "red", "golden-gate");
      }
    }
    & .icon {
      margin-right: 0.5rem;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
