@import "palette";
@import "component/drag-drop-file";

.warning-red {
  color: $warning;
}
.safety-orange {
  color: $alert;
}

.create-community {
  & .input-container {
    position: relative;
  }
  & .input {
    border-radius: 0.5rem;
  }
  & .char-count {
    position: absolute;
    font-family: "Ubuntu";
    font-size: 0.75rem;
    bottom: -1rem;
    right: 0;
  }

  &__route {
    padding: 0 1rem;
  }
  &__footer {
    justify-content: flex-end;
    &__button {
      background-color: $base-elements;
      &:hover {
        background-color: lighten($base-elements, 20%);
      }
      &__icon {
        margin-right: 0.5rem;
        &.loading {
          animation: spin 4s linear infinite;
        }
      }
    }
  }
  &__content {
    &__header-image {
      &__display {
        &--image {
          border-radius: 0.5rem;
          border: 1px solid $base-background;
          margin: 1rem 0;
        }
      }
      &__loading {
        display: flex;
        &.icon {
          margin-left: 0rem;
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
