@import "palette";

.delete-post-button {
  background-color: transparent;
  color: $warning;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  &--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.delete-post-dialog {
  &__title {
    &__link-title {
      color: $base-elements;
      font-family: "Ubuntu";
      font-weight: 700;
    }
  }
  &__description {
  }
  &__cancel-button {
  }
  &__continue-button {
    background-color: white;
    color: $warning;
    border: 1px solid $warning;
    &:hover {
      background-color: $warning;
      color: white;
    }
  }
}
