@import "palette";
@import "component/button";
@use "color";

.editor {
  margin: 1rem;
  &__header {
    &__margin {
      margin-bottom: 1rem;
    }
    &__title {
    }
    &__description {
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    &__editor {
      & > .ql-container {
        min-height: 8rem;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    &__button-preview {
    }
    &__button-submit {
      margin-left: 1rem;
    }
  }
  &__preview {
    padding: 1rem 2rem;
    background-color: rgba($base-secondary, 0.3);
  }
}
