@import "breakpoints";
@import "palette";
@import "component/button";

.post-details {
  font-family: "Noto Sans";

  margin: 1rem;
  @media (min-width: $breakpoint-mobile) {
  }
  &__header-box {
    display: flex;
    align-items: center;
  }
  &__header {
    display: flex;
  }
  &__title-box {
    width: 100%;
    margin-left: 1rem;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: "Ubuntu";
  }
  &__description {
    font-family: "Noto Sans";
    margin-bottom: 0.5rem;
  }
  &__link {
    padding: 0.25rem;
    display: flex;
    align-items: center;
    background-color: rgba($snow-white, 0.5);
    &:hover {
      background-color: $snow-white;
      font-weight: 700;
    }
    & .link-icon {
      margin-right: 0.5rem;
    }
  }
  &__content {
    &__text {
      font-family: "Noto Sans";
      margin-top: 1rem;
      & pre {
        font-family: "Noto Sans Mono";
        background-color: $snow-white;
        padding: 0.5rem;
        border: 1px dashed $base-dark-line;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    &--new-comment-button {
      @include button-primary();
    }
  }
}

.all-comments {
  padding: 1rem;
}

.create-comment {
  margin: 0.5rem;
  &__footer {
    display: flex;
    justify-content: flex-end;
    &--submit-button {
      @include button-primary();
      margin-right: 0.5rem;
      & .icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.debug__message {
  color: $warning;
  font-size: 0.5rem;
}

.post-tools {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  &__command {
    padding: 0 0.25rem;
  }
}
