@import "palette";
@import "mixins/map-deep-get";

.post-votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.small {
    flex-direction: row;
  }
  &__up {
    cursor: pointer;
    color: map-deep-get($palettes, "green", "shamrock");
    &.small {
      height: 1rem;
      width: 1rem;
      & svg {
        height: 1rem;
        width: 1rem;
      }
    }
    &.selected {
      & svg {
        fill: map-deep-get($palettes, "green", "shamrock");
      }
    }
  }
  &__count {
    text-align: center;
    font-family: "Ubuntu";
    font-weight: 700;
    &.deficit {
      color: map-deep-get($palettes, "red", "crimson-red");
    }
    height: 1rem;
    line-height: 1rem;
    &.small {
      min-width: 1.5rem;
      height: 0.5rem;
      line-height: 0.5rem;
    }
  }
  &__down {
    cursor: pointer;
    color: map-deep-get($palettes, "red", "crimson-red");
    &.small {
      height: 1rem;
      width: 1rem;
      & svg {
        height: 1rem;
        width: 1rem;
      }
    }
    &.selected {
      & svg {
        fill: map-deep-get($palettes, "red", "crimson-red");
      }
    }
  }
}
