@import "palette";
@import "component/button";

.show-comment {
  &.child {
    padding-left: 1rem;
    border-left: 3px solid rgba($base-dark-line, 0.5);
  }
  &__header {
    font-family: "Ubuntu";
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
  &__display {
    font-family: "Noto Sans";
    font-size: 0.825rem;
    line-height: 1rem;
    margin: 0;
    & p {
      margin-bottom: 1rem;
    }
  }
  &__footer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    &__reply {
      width: 100%;
      position: relative;
      & .create-comment {
        width: 100%;
        margin-bottom: 3rem;
      }
      &--submit {
        position: absolute;
        right: 0;
        bottom: -2.5rem;
        & svg {
          margin-right: 0.5rem;
        }
        &:disabled {
          background-color: $disabled;
          color: $base-dark-line;
          border-color: $base-dark-line;
        }
      }
    }
    &__reply-button {
      @include button-primary();
      margin-left: 1rem;
      &--text {
        margin-left: 0.5rem;
      }
    }
    & .comment-tools {
      display: flex;
      flex-direction: row;
      &__reply-button {
        background-color: transparent;
        color: $base-elements;
        box-shadow: none;
        height: auto;
        padding: 0 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        &--icon {
          height: 1rem;
          width: 1rem;
          margin-right: 0.25rem;
        }
        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

.delete-comment-button {
  background-color: transparent;
  color: $warning;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  &--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

.delete-comment-dialog {
  &__title {
    &__link-title {
      color: $base-elements;
      font-family: "Ubuntu";
      font-weight: 700;
    }
  }
  &__description {
  }
  &__cancel-button {
  }
  &__continue-button {
    background-color: white;
    color: $warning;
    border: 1px solid $warning;
    &:hover {
      background-color: $warning;
      color: white;
    }
  }
}

.edit-comment-button {
  background-color: transparent;
  color: $base-elements;
  box-shadow: none;
  height: auto;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  &--icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
