@import "mixins/map-deep-get";
@import "palette";

.subscription,
.moderation {
  font-family: "Ubuntu";
  display: grid;

  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px dotted
      rgba(map-deep-get($palettes, "black", "charcoal"), 0.5);
  }
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  &__name {
    grid-area: name;
    font-weight: 700;
    &__moderate-link {
      color: map-deep-get($palettes, "red", "golden-gate");
    }
  }
  &__route {
    grid-area: route;
  }
  &__stats {
    grid-area: stats;
  }

  &__description {
    grid-area: description;
    margin-top: 0.25rem;
    font-family: "Lato";
  }
}

.subscription {
  grid-template-areas:
    "name route stats button"
    "description description description description";
  grid-template-columns: 1fr 1fr 1fr 7rem;
  &__subscribe {
    grid-area: button;
  }
}

.moderation {
  grid-template-areas:
    "name route stats"
    "description description description";
  grid-template-columns: 1fr 1fr 1fr;
}
