@import "palette";

.subscribe-button {
  padding: 0.25rem 0.5rem;
  margin: 0;
  height: auto;
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  justify-self: end;
  &.subscribe {
    background-color: $upvote;
  }
  &.unsubscribe {
    background-color: $downvote;
  }
  &__icon {
    height: 1rem;
    width: 1rem;
    margin: 0 0.25rem 0 0;
  }
}
