@import "palette";
@import "breakpoints";

$honolulu: $base-elements;
$ucla: $base-elements;
$golden-gate: $base-highlight;

.framing {
  margin-top: 1rem;
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.outlet {
  padding: 0 1rem;
  width: 100%;
}

.profile {
  min-width: 18rem;
  text-align: center;
  padding: 0 1rem;
  &__header {
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__joined {
    font-family: "Noto Sans";
    font-size: 1rem;
  }
  margin-bottom: 1rem;
  & a {
    text-decoration: none;
    color: $honolulu;
  }
}

.card-area {
  width: 100%;
}
.card.latest {
  margin-bottom: 1rem;
}

.comment-summary {
  padding: 1rem;
  &:not(:last-child) {
    border-bottom: 1px dotted rgba($base-dark-line, 0.5);
  }
  &__link {
    font-family: "Noto Sans";
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    &__post-title {
      font-size: 1rem;
    }
    &__community-name {
      font-size: 0.75rem;
    }
  }
  &__text {
    font-family: "Noto Sans";
    margin-left: 2rem;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
  &__permalink {
    font-family: "Noto Sans";
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    text-align: right;
  }
}

.comment-summary-small {
  padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  margin-bottom: 0.5rem;
  &:not(:last-child) {
    border-bottom: 1px dotted rgba($base-dark-line, 0.5);
  }
  &__link {
    font-family: "Ubuntu";
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75rem;
  }
  &__text {
    font-family: "Noto Sans";
    font-size: 0.825rem;
    margin-left: 2rem;
  }
}

.user-subscribes {
  &__card {
    &__content {
      & .subscription {
        &:not(:last-child) {
          border-bottom: 1px dotted rgba($base-dark-line, 0.5);
        }
      }
    }
  }
}
